.page-product {
  .page-product-main {
    margin-top: 32px;
    display: flex;
    column-gap: 16px;
    align-items: flex-start;

    .slider-product {
      margin-right: 14px;
      width: 558px;
      display: flex;
      column-gap: 16px;
      align-items: flex-start;
      justify-content: center;
      flex-shrink: 0;
    }

    .params {
      .bold {
        font-weight: 600;
        color: #121212;
      }

      .right-img {
        margin-top: 16px;
        display: flex;
        column-gap: 16px;
      }

      .size {
        font-weight: 600;
        line-height: 18px;
        margin-top: 32px;
      }

      .size-btn {
        display: flex;
        column-gap: 16px;
        margin-top: 20px;

        & button {
          border: none;
          background: #f8f8f8;
          padding: 10px 12px;
          cursor: pointer;

          &:hover {
            background: #ffffff;
            outline: 2px solid #121212;
          }
        }
      }

      .hanger {
        display: flex;
        column-gap: 8px;
        align-items: center;
        margin-top: 16px;
      }

      .pay {
        margin-top: 36px;
        padding: 32px 0;
        border-top: 2px solid #e6e6e6;
        border-bottom: 2px solid #e6e6e6;
        display: flex;
        column-gap: 24px;

        .cost {
          font-size: 22px;
          line-height: 36px;
          font-weight: 600;
          color: #121212;
        }

        .pay-btn {
          padding: 16px 24px;
          cursor: pointer;
          background: #121212;
          color: #ffffff;
          border: none;
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.06em;

          &:hover {
            background: #494949;
            transition: all 0.3s;
          }
        }
      }

      .scope {
        display: flex;
        column-gap: 28px;
        font-weight: 500;
        line-height: 18px;
        font-size: 11px;
        margin: 32px 0;

        & img {
          margin-right: 6px;
        }

        .truck,
        .refresh,
        .mail {
          display: flex;
          align-items: center;
        }
      }

      .checkout {
        .checkout-title {
          display: flex;
          column-gap: 24px;
          font-weight: 600;
          font-size: 11px;
          line-height: 18px;
          letter-spacing: 0.06em;
          color: #121212;

          hr {
            width: calc(100% - 230px);
            height: 2px;
            background-color: #e6e6e6;
            border: none;
          }
        }

        .checkout-img {
          display: flex;
          justify-content: space-between;
          margin-top: 24px;
        }
      }

      .description {
        border-bottom: 2px solid #e6e6e6;
        padding-bottom: 32px;

        .title {
          margin-top: 32px;
          font-weight: 600;
          line-height: 18px;
          color: #6e6e6e;
          border-top: 2px solid #e6e6e6;
          border-bottom: 2px solid #e6e6e6;
          padding: 32px 0;
        }

        .text {
          margin-top: 32px;

          .text-title {
            font-weight: 600;
            line-height: 18px;
            color: #121212;
            margin-bottom: 32px;
          }

          .specifications {
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            .text-color,
            .text-size,
            .text-material {
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
            }

            .black {
              color: #121212;
              opacity: 0.6;
            }
          }
        }
      }

      .reviews {
        margin-top: 32px;
        border-bottom: 2px solid #e6e6e6;

        .reviews-above {
          .title {
            font-weight: 600;
            line-height: 18px;
            color: #121212;
            letter-spacing: 0.06em;
          }

          .subtitle-text {
            display: flex;
            justify-content: space-between;
            margin-top: 32px;

            .rating-reviews {
              display: flex;
              column-gap: 10px;
              align-items: center;
              font-weight: 500;
              font-size: 11px;
              line-height: 8px;
            }

            .annotation {
              display: flex;
              align-items: center;
              column-gap: 8px;
              font-weight: 500;
              line-height: 18px;
            }
          }
        }

        .reviews-below {
          margin-top: 28px;
        }
      }
    }
  }

  .products {
    margin-top: 104px;

    .products-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
      letter-spacing: 0.06em;
    }

    .products-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
      gap: 30px;
      margin-top: 48px;
      margin-bottom: 96px;
    }
  }
}

@media all and (max-width: 1170px) {
  .page-product {
    .page-product-main {
      .side-block {
        display: none;
      }
    }
  }
}

@media all and (max-width: 1070px) {
  .page-product {
    .page-product-main {
      flex-direction: column;

      .slider-product {
        width: 100%;
        height: 100%;
        margin-right: 0;
      }

      .params {
        width: 100%;
      }
    }
  }
}
@media all and (max-width: 570px) {
  .page-product {
    .page-product-main {
      .params {
        .scope {
          flex-direction: column;
        }
      }
    }
  }
}

@media all and (max-width: 500px) {
  .page-product {
    .page-product-main {
      .params {
        .checkout {
          display: flex;
          flex-direction: column;
          align-items: center;

          .checkout-img {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
            gap: 20px;
          }
        }

        .pay {
          flex-direction: column;
          row-gap: 24px;
          justify-content: center;
          align-items: flex-start;

          .pay-btn {
            width: 100%;
          }
        }
      }
    }
  }
}

@media all and (max-width: 440px) {
  .page-product {
    .page-product-main {
      .params {
        .checkout {
          .checkout-title {
            & hr {
              display: none;
            }
          }
        }
      }
    }

    .page-product-header {
      .header-abowe {
        flex-direction: column;
        row-gap: 10px;
      }
    }

    .header-below {
      .title {
        font-size: 22px;
        line-height: 32px;
      }
    }
  }
}

@media all and (max-width: 400px) {
  .page-product {
    .page-product-main {
      .params {
        .reviews {
          .reviews-above {
            .subtitle-text {
              flex-direction: column;
            }
          }

          .reviews-text {
            .title {
              flex-direction: column;
            }
          }
        }
      }
    }

    .page-product-header {
      .header-bottom {
        flex-direction: column;
      }
    }
  }
}

@media all and (max-width: 355px) {
  .page-product {
    .page-product-main {
      .params {
        .right-img {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
          gap: 20px;
        }
      }
    }
  }
}
.products-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.06em;

}
.product {
  &__related {
  }
}
.related-product {
  padding: 96px 0;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  &__title {
    font-family: "Spartan-SemiBold";
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }


  &__control {
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }
}
.slider-related {
  &__prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

}
