.checkbox-label {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;

  .checkbox-input {
    width: 18px;
    height: 18px;
    border: 1px solid #e6e6e6;
  }

  .checkbox-text {
    font-size: 13px;
    line-height: 34px;
    padding-top: 2px;
  }
}
