.product-page-header {
  background: #f8f8f8;
  padding: 6px 0;

  .header-abowe {
    display: flex;
    justify-content: space-between;

    .back {
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;

      .home {
        color: #6e6e6e;
        padding-right: 6px;
      }

      .arr {
        color: #6e6e6e;
      }

      .product-back {
        padding: 0 6px;
        color: #6e6e6e;
        cursor: pointer;
        text-decoration: none;
        text-transform: capitalize;
      }

      .product {
        padding-left: 6px;
      }

      .name-page {
        padding-left: 6px;
        text-transform: capitalize;
      }
    }

    .share {
      display: flex;
      align-items: center;
      color: #6e6e6e;
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      cursor: pointer;

      .share-img {
        margin-right: 10px;
      }
    }
  }

  .header-below {
    display: flex;
    justify-content: center;

    .title {
      padding: 10px 0 24px;
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;

    .rating {
      display: flex;

      .reviews {
        margin-left: 6px;
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        color: #6e6e6e;
      }
    }

    .count {
      display: flex;
      column-gap: 24px;
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      color: #6e6e6e;

      .bold {
        font-weight: 600;
        color: #121212;
      }
    }
  }
}

@media (max-width: 540px) {
  .product-page-header .header-abowe,
  .product-page-header .header-bottom {
    flex-direction: column;
    row-gap: 10px;
  }
}
