.section-nav {
  display: grid;
  grid-template-rows: 200px 260px;
  grid-row-gap: 30px;

  .btn-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    .btn-top-left-bg {
      background: no-repeat center url('./assets/women.jpg');
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .btn-top-right-bg {
      background: no-repeat center url('./assets/men.jpg');
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .btn-top-left,
    .btn-top-right {
      padding: 12px 24px;
      text-align: center;
      background-color: #ffffff;
      border-radius: 4px;
      max-width: 100%;
      min-width: 118px;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.06em;
    }
  }

  .btn-bottom-bg {
    background: no-repeat center url('./assets/accessories.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .btn-bottom {
      padding: 12px 24px;
      text-align: center;
      background-color: #ffffff;
      border-radius: 4px;
      max-width: 100%;
      min-width: 166px;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.06em;
    }
  }
}

@media all and (max-width: 1190px) {
  .section-nav {
    .btn-top {
      .btn-top-left-bg,
      .btn-top-right-bg {
        background-size: cover;
      }
    }

    .btn-bottom-bg {
      background-size: cover;
    }
  }
}

@media all and (max-width: 600px) {
  .section-nav {
    .btn-top {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px;
    }
  }
}
