.header {
  .header-contacts {
    background: #121212;
    padding: 6px 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    background: #ffffff;
    border-bottom: 2px solid #f8f8f8;
    padding: 8px 0;
  }
}

@media all and (max-width: 470px) {
  .header-nav-logo {
    width: 80%;
  }
}
