.clothes {
  margin-top: 96px;

  .clothes-header {
    display: flex;
    justify-content: space-between;

    .clothes-title {
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    .clothes-menu {
      display: flex;
      align-items: center;
      column-gap: 32px;
      font-size: 12px;
      line-height: 13px;
      padding-right: 32px;
      letter-spacing: 0.06em;
      color: #707070;

      .clothes-menu-item {
        &:hover {
          font-weight: 500;
          color: #121212;
          transition: all 0.3s;
        }
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 30px;
    margin: 48px 0;
  }

  .clothes-button {
    width: 100%;
    padding: 16px 0;
    border: 2px solid #f8f8f8;
    background: #f8f8f8;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    color: #404040;
    cursor: pointer;

    &:hover {
      background: #e7e7e7;
      transition: all 0.3s;
    }
  }
}

@media all and (max-width: 910px) {
  .clothes {
    margin-top: 48px;

    .clothes-header {
      flex-direction: column;
      row-gap: 16px;

      .clothes-menu {
        flex-direction: column;
        row-gap: 16px;
      }
    }
  }
}
