.slider {
  .side-block {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }
}

.slider-block {
  position: relative;

  .slider-img {
    width: 100%;
  }

  .arr-prev-img {
    position: absolute;
    left: 4%;
    top: 46%;
  }

  .arr-next-img {
    position: absolute;
    right: 4%;
    top: 46%;
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 290px;
    padding: 24px 32px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #f0f0f0;
    }

    .title {
      font-weight: 600;
      line-height: 13px;
      color: #a0a0a0;
    }

    .text {
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
      color: #121212;
      margin-top: 14px;
    }
  }
}

@media all and (max-width: 1180px) {
  .slider {
    background-color: #f1f1f1;
    margin-bottom: 30px;

    .slider-block {
      display: flex;
      justify-content: center;
    }
  }
}

@media all and (max-width: 590px) {
  .slider {
    .slider-block {
      .btn {
        .text {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}

@media all and (max-width: 475px) {
  .slider {
    .slider-block {
      .btn {
        .text {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}

@media all and (max-width: 400px) {
  .slider {
    .slider-block {
      .btn {
        .text {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
}
